# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Binaries
cmd/agent/main
cmd/agent/agent
cmd/server/main
cmd/server/server

# Dependency directories (remove the comment below to include it)
vendor/

# IDEs directories
.idea
.vscode

# Task files
Taskfile.yml

# Exclude data files
# include only folder
data/*
!data/.gitkeep 

# Files for sending request
.rest

# RSA keys
certificates

# Configs
configs/*
!configs/server_config_example.json
!configs/agent_config_example.json

